@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
:root {
  --color-primary:#1E266D;
  --color-secondary: #3751FF;
  --color-tetiary:#FFF9EA;
  --color-gray--2:#777;
  --color-gray--3:rgb(216, 214, 214);
  --color-white:#fff;
  --font-primary:"poppins", sans-serif;
  --font-secondary:"Grand Hotel", cursive;
  --transition:all 0.5s;
  --border-radius:2rem;
  --spacing:0.rem;
  --box-shadow:0.2 0.8rem 2rem rgba(0,0,0,0.8);
}

::selection {
  background-color: var(--color-primary);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #1E266D;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

.heading__primary {
  font-weight: 500;
  text-align: center;
  font-size: 5rem;
  color: var(--color-primary);
}

.heading__secondary {
  color: var(--color-primary);
  font-size: 3.2rem;
  text-align: center;
  max-width: 100rem;
  margin: 0 auto;
}

.heading__tetiary {
  font-size: 1.6rem;
}

.header__btn {
  background-color: var(--color-white) !important;
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1) !important;
  color: var(--color-primary) !important;
}

.center {
  max-width: 100rem;
  margin: 0 auto;
}

.align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  background-color: red;
}

.hidden {
  display: none;
  visibility: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 20;
}

.btn {
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  padding: 0.8rem 2rem;
  color: var(--color-white);
  transition: all 0.3s;
}
.btn:link, .btn:visited {
  color: var(--color-white);
}
.btn:hover, .btn:active {
  background-color: var(--color-primary);
  transform: scale(1.1);
  box-shadow: 0.2 0.8rem 2rem rgba(0, 0, 0, 0.8);
}

.cta {
  background-color: var(--color-secondary);
  padding: 6.4rem 0;
}
.cta__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
}
.cta__text {
  color: var(--color-white);
  width: 36rem;
  font-size: 3.6rem;
  font-weight: 500;
}
.cta__svg {
  font-size: 2rem;
}
.cta__btntext {
  color: var(--color-white);
  margin-top: 1rem;
  font-size: 1.3rem;
}
.cta__buttonbox {
  text-align: center;
}
.cta__btnSpan {
  font-size: 1.4rem;
}
.cta__span {
  color: #FED385;
}
.cta__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem 0.3rem;
  width: 20rem;
  border-radius: var(--border-radius);
}
.cta__spanbtn {
  width: 15rem;
}

.featureIn {
  padding: 16.4rem 0 9.6rem 0;
  text-align: center;
}
.featureIn__text {
  color: var(--color-gray--2);
  margin-bottom: 4.8rem;
}
.featureIn__logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.portfolio {
  background-color: var(--color-tetiary);
  overflow: hidden;
}
.portfolio__block {
  padding: 9.6rem 0;
}
.portfolio__box {
  text-align: center;
}
.portfolio__text {
  font-size: 1.4rem;
  color: var(--color-gray2);
  margin: 0 auto;
  padding: 3.2rem 0;
  text-align: center;
}
.portfolio__btn {
  margin: 2rem;
}
.portfolio__img {
  width: 100%;
}

.about {
  padding: 9.6rem 0;
}
.about__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__composition {
  display: flex;
  flex-direction: column;
  width: 60rem;
  padding: 0;
}
.about__img--1 {
  width: 30rem;
}
.about__imgblock--1 {
  width: 30rem;
  align-self: center;
  position: relative;
  z-index: -2;
}
.about__imgafter--1 {
  position: absolute;
  bottom: 0.6rem;
  right: 1rem;
  z-index: -10;
}
.about__imgblock--2 {
  width: 35rem;
  align-self: center;
  margin-left: -15rem;
  margin-top: -7rem;
  z-index: 2;
  position: relative;
}
.about__img--2 {
  width: 35rem;
}
.about__imgafter--2 {
  position: absolute;
  top: 35%;
  left: -5%;
  z-index: -3;
  width: 9rem;
}
.about__imgblock--3 {
  width: 15rem;
  align-self: center;
  margin-left: -1rem;
  margin-top: -15rem;
  position: relative;
  z-index: 3;
}
.about__img--3 {
  width: 15rem;
}
.about__imgafter--3 {
  position: absolute;
  bottom: -8%;
  right: -15%;
  width: 5rem;
  z-index: -5;
}
.about__step {
  display: flex;
  flex-direction: column;
}
.about__block {
  padding: 2rem 0 3rem 0;
  display: flex;
  gap: 2rem;
  align-items: start;
  justify-content: space-between;
}
.about__text {
  padding-top: 2rem;
  flex-wrap: wrap;
  width: 23rem;
  font-size: 1.3rem;
}
.about__border {
  width: 100%;
}
.about__block:not(:last-child) {
  border-bottom: 1px solid var(--color-gray--3);
}
.about__logobox {
  width: 4rem;
  height: 4rem;
  position: relative;
}
.about__logobox--1, .about__logobox--2, .about__logobox--3 {
  width: 4rem;
  height: 4rem;
}
.about__logobox--1 {
  background-image: url("../img/Rectangle 4.png");
}
.about__logobox--2 {
  background-image: url("../img/Rectangle 4e.png");
}
.about__logobox--3 {
  background-image: url("../img/Rectangle 4n.png");
}
.about__logo {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial {
  padding: 9.6rem 0;
}
.testimonial__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 3.2rem;
}
.testimonial__card {
  border: 1px solid var(--color-gray--3);
  padding: 2rem;
  height: 35rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;
}
.testimonial__text {
  font-size: 1.3rem;
  line-height: 1.5;
  flex-wrap: wrap;
}
.testimonial__imgbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.testimonial__subheading {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.footer {
  padding: 9.6rem 0;
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footer__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  justify-self: right;
}
.footer__digits {
  column-span: 2;
  justify-self: left;
}
.footer__text {
  margin-top: 4rem;
}
.footer__pages {
  justify-self: right;
}
.footer__list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__demos {
  justify-self: center;
}
.footer__iconList {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer__line {
  margin: 4rem 0;
  color: var(--color-gray--3);
}
.footer__terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}
.footer__subtext {
  color: var(--color-gray--2);
}
.footer__termsbox {
  display: flex;
  gap: 2rem;
}
.footer__link {
  font-size: 1.4rem;
}

.navbtn {
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: 5%;
  transition: all 0.6s;
}

.navbtn .navicon {
  font-size: 4rem;
}
.navbtn .navicon:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-primary);
}
.navbar__nav {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  justify-self: left;
  margin-right: 2rem;
}
.navbar__link {
  transition: all 0.3s;
}
.navbar__link:hover, .navbar__link:active {
  color: var(--color-secondary);
}
.navbar__info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
  position: relative;
}
.header__banner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 60rem;
}
.header__text {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 400;
  margin: 2.4rem 0;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  font-size: 1.4rem;
}
.header__imgbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 15%);
  width: 80rem;
  height: 45rem;
}
.header__img {
  width: 80%;
}

/*# sourceMappingURL=style.css.map */
